<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000" />
  <title>QMath: Practice your quick math skills</title>
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <script src="https://kit.fontawesome.com/2bde92b870.js" crossorigin="anonymous"></script>
</head>

<body class="flex flex-col h-screen">
  <header class="navbar bg-base-100 p-2">
    <div class="flex-1">
      <a class="btn btn-ghost btn-md text-xl">Qmath</a>
    </div>
    <div class="flex-none">
      <update-logs></update-logs>
      <how-to></how-to>
      <configuration-drawer></configuration-drawer>
      <theme-controller></theme-controller>
    </div>
  </header>
  <main id="main-content" class="grow"></main>
</body>

</html>